.index_out{
	max-width: 80px;
}

.bit_out{
	max-width: 350px;
}

.num_out{
	max-width: 180px;
}


#select_RAM_list{
	max-width: 420px;
}

.container-input-left *, .dataType-radio *{
	cursor: pointer;
}

.center_button{
	max-width: fit-content !important;
	margin: auto !important;
}